<div class="card shadow-sm rounded mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span>Commande <strong>#{{ order.slug }}</strong></span>
        <span class="badge rounded-pill {{ order.status|order_status_badge }}">
                <i class="bi {{ order.status.name | status_icon }} me-2"></i>{{ order.status|order_status_lib }}
        </span>
    </div>

    <div class="card-body p-3">
        {% if order.items|length > 0 %}
            <div class="d-flex flex-column gap-3">
                {% for item in order.items %}
                    <div class="d-flex align-items-center justify-content-between p-2 border rounded shadow-sm">
                        <div class="d-flex align-items-center gap-3">
                            <img src="https://picsum.photos/80/80?random={{ item.product.id }}"
                                 class="rounded-3"
                                 style="width:80px; height:80px; object-fit:cover;"
                                 alt="{{ item.product.title }}">
                            <div>
                                <div class="fw-bold">{{ item.product.title }}</div>
                                {% if item.product.createdBy %}
                                    <small class="text-muted d-flex align-items-center gap-1 mb-1">
                                        <i class="bi bi-shop"></i> {{ item.product.createdBy.firstName ~ ' ' ~ item.product.createdBy.lastName }}
                                    </small>
                                {% endif %}
                                <div class="d-flex gap-2 align-items-center">
                                    <span>Qté: <strong>{{ item.quantity }}</strong></span>
                                    <span class="badge {{ item.status|order_item_status_badge }}">
                                        {{ item.status|order_item_status_lib }}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="text-end">
                            <div>Prix: {{ item.product.price|number_format(2, ',', ' ') }} €</div>
                            <div>Total: {{ (item.product.price * item.quantity)|number_format(2, ',', ' ') }} €</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="p-3 text-center text-muted">
                Aucun produit dans cette commande.
            </div>
        {% endif %}
    </div>

    <div class="card-footer text-end">
        <strong>Total commande: {{ order.totalAmount|number_format(2, ',', ' ') }} €</strong>
    </div>
</div>
